# Lendo dados do mercado de Cripto

In [1]:
import requests
import pandas as pd 
import time
import datetime
import os
from dotenv import load_dotenv

In [17]:
load_dotenv()
API_KEY = os.getenv("API_KEY")
headers = {"x-cg-demo-api-key": API_KEY}

In [26]:
criptos = ["bitcoin", "ethereum", "solana"]
params = {
    "vs_currency": "usd",
    "days": 365
}

In [27]:
tabelas = []

for cripto in criptos:
    url = f"https://api.coingecko.com/api/v3/coins/{cripto}/market_chart"
    requisicao = requests.get(url, params = params, headers = headers)
    dados = requisicao.json()
    print(cripto)
    df_dados = pd.DataFrame(dados["prices"], columns= ["data", "price"])
    
    df_volume = pd.DataFrame(dados["total_volumes"], columns= ["data", "volume"])
    df_final = df_dados.merge(df_volume, on = 'data')
    df_final["data"] = pd.to_datetime(df_final["data"], unit = "ms")
    df_final["cripto"] = cripto
    tabelas.append(df_final)

bitcoin
ethereum
solana

## Dados OHLC

In [36]:
params = {
    "vs_currency": "usd",
    "days": 1
}

##

In [40]:
tabelas = []

for cripto in criptos:
    print(cripto)
    url = f"https://api.coingecko.com/api/v3/coins/{cripto}/ohlc"
    requisicao = requests.get(url, params = params, headers = headers)
    dados = requisicao.json()
    df = pd.DataFrame(dados, columns= ['timestamp', 'open', "high", "low", "close"])
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
    df['crypto'] = cripto
    tabelas.append(df)

bitcoin
ethereum
solana

In [41]:
dados_ohlc = pd.concat(tabelas)
dados_ohlc

             timestamp       open       high        low      close   crypto
0  2025-01-30 00:00:00  104184.00  104184.00  103719.00  103719.00  bitcoin
1  2025-01-30 00:30:00  103716.00  103716.00  103516.00  103592.00  bitcoin
2  2025-01-30 01:00:00  103579.00  104106.00  103388.00  104106.00  bitcoin
3  2025-01-30 01:30:00  103978.00  104294.00  103978.00  104294.00  bitcoin
4  2025-01-30 02:00:00  104475.00  104475.00  104204.00  104289.00  bitcoin
..                 ...        ...        ...        ...        ...      ...
43 2025-01-30 22:00:00     239.87     240.31     239.85     240.31   solana
44 2025-01-30 22:30:00     240.23     240.26     240.08     240.16   solana
45 2025-01-30 23:00:00     240.42     241.39     240.42     240.72   solana
46 2025-01-30 23:30:00     240.35     240.62     240.10     240.60   solana
47 2025-01-31 00:00:00     240.49     240.49     239.05     239.05   solana

[144 rows x 6 columns]