# Base de dados com mais ações

## Imports

In [3]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

In [ ]:
acoes = ['GOLL4.SA', 'CVCB3.SA', 'WEGE3.SA', 'MGLU3.SA', 'TOTS3.SA', 'BOVA11.SA']
acoes_df = pd.DataFrame()

for acao in acoes:
    acoes_df[acao] = yf.download(acao, start='2015-01-01')['Close']

acoes_df

In [19]:
acoes_df = acoes_df.rename(columns={'GOLL4.SA': 'GOL', 'CVCB3.SA': 'CVC', 'WEGE3.SA': 'WEG', 'MGLU3.SA': 'MGLU', 'TOTS3.SA': 'TOTVS', 'BOVA11.SA': 'IBOV'})
acoes_df

              GOL        CVC        WEG      MGLU      TOTVS        IBOV
Date
2015-01-02  14.99  11.394461   4.988703  2.058074  10.155536   47.259998
2015-01-05  14.85  11.244532   5.022718  2.096750   9.843493   46.320000
2015-01-06  15.21  11.094605   4.948210  2.069124   9.227921   46.580002
2015-01-07  14.55  10.997154   4.891524  2.138187   9.162670   48.150002
2015-01-08  14.27  10.607343   4.974127  2.121613   9.375431   48.509998
...           ...        ...        ...       ...        ...         ...
2025-01-23   1.72   1.830000  57.250000  6.290000  29.240000  119.489998
2025-01-24   1.71   1.780000  57.869999  6.370000  29.910000  119.449997
2025-01-27   1.71   1.860000  53.310001  7.010000  31.209999  121.870003
2025-01-28   1.71   1.770000  54.090000  6.760000  30.790001  121.029999
2025-01-29   1.69   1.800000  54.430000  6.590000  31.150000  120.459999

[2507 rows x 6 columns]

In [22]:
acoes_df.isnull().sum()

GOL      0
CVC      0
WEG      0
MGLU     0
TOTVS    0
IBOV     0
dtype: int64

In [21]:
acoes_df.dropna(inplace=True)
acoes_df.shape

(2480, 6)

In [23]:
acoes_df.to_csv('acoes.csv')

In [24]:
acoes_df = pd.read_csv('acoes.csv')
acoes_df

            Date    GOL        CVC        WEG      MGLU      TOTVS        IBOV
0     2015-01-02  14.99  11.394461   4.988703  2.058074  10.155536   47.259998
1     2015-01-05  14.85  11.244532   5.022718  2.096750   9.843493   46.320000
2     2015-01-06  15.21  11.094605   4.948210  2.069124   9.227921   46.580002
3     2015-01-07  14.55  10.997154   4.891524  2.138187   9.162670   48.150002
4     2015-01-08  14.27  10.607343   4.974127  2.121613   9.375431   48.509998
...          ...    ...        ...        ...       ...        ...         ...
2475  2025-01-23   1.72   1.830000  57.250000  6.290000  29.240000  119.489998
2476  2025-01-24   1.71   1.780000  57.869999  6.370000  29.910000  119.449997
2477  2025-01-27   1.71   1.860000  53.310001  7.010000  31.209999  121.870003
2478  2025-01-28   1.71   1.770000  54.090000  6.760000  30.790001  121.029999
2479  2025-01-29   1.69   1.800000  54.430000  6.590000  31.150000  120.459999

[2480 rows x 7 columns]

In [25]:
acoes_df.columns[1:]

Index(['GOL', 'CVC', 'WEG', 'MGLU', 'TOTVS', 'IBOV'], dtype='object')

In [26]:
acoes_df.describe()

,GOL,CVC,WEG,MGLU,TOTVS,IBOV
count,2480.000000,2480.000000,2480.000000,2480.000000,2480.000000,2480.000000
mean,13.054863,18.571990,21.193833,54.392734,19.284609,89.330770
std,9.457065,14.098566,15.277923,66.293192,9.524042,26.235445
min,0.980000,1.380000,4.284400,0.279106,6.457616,36.450001
25%,6.290000,6.633191,6.564906,8.773043,9.415827,64.222502
50%,10.305000,15.070560,16.502458,28.188564,19.414314,96.385002
75%,19.115000,27.541834,34.825969,63.227856,28.062110,111.077499
max,43.790001,52.870266,58.465912,256.293274,38.656742,133.619995

## Visualização