# Calculo de risco das ações

## Importando as libs

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## Importando os dados

In [3]:
dataset = pd.read_csv('acoes.csv')
dataset

            Date    GOL        CVC        WEG      MGLU      TOTVS        IBOV
0     2015-01-02  14.99  11.164607   4.988705  2.058074  10.155536   47.259998
1     2015-01-05  14.85  11.017703   5.022718  2.096750   9.843493   46.320000
2     2015-01-06  15.21  10.870803   4.948212  2.069124   9.227921   46.580002
3     2015-01-07  14.55  10.775316   4.891521  2.138187   9.162673   48.150002
4     2015-01-08  14.27  10.393366   4.974128  2.121612   9.375432   48.509998
...          ...    ...        ...        ...       ...        ...         ...
2477  2025-01-27   1.71   1.860000  53.310001  7.010000  31.209999  121.870003
2478  2025-01-28   1.71   1.770000  54.090000  6.760000  30.790001  121.029999
2479  2025-01-29   1.69   1.800000  54.430000  6.590000  31.150000  120.169998
2480  2025-01-30   1.70   1.950000  56.209999  7.270000  32.610001  123.949997
2481  2025-01-31   1.70   1.970000  55.040001  7.460000  34.060001  123.000000

[2482 rows x 7 columns]

In [4]:
dataset.describe()

,GOL,CVC,WEG,MGLU,TOTVS,IBOV
count,2482.000000,2482.000000,2482.000000,2482.000000,2482.000000,2482.000000
mean,13.045713,18.552435,21.221578,54.354839,19.295931,89.358167
std,9.458743,14.104244,15.303004,66.279906,9.528572,26.242632
min,0.980000,1.380000,4.284400,0.279106,6.457618,36.450001
25%,6.275000,6.612469,6.569133,8.731179,9.416551,64.285002
50%,10.295000,15.063796,16.623083,28.153233,19.442447,96.430000
75%,19.107501,27.519730,34.852096,63.204473,28.069101,111.129999
max,43.790001,52.870266,58.465912,256.293274,38.656746,133.619995

## Calculos de retorno anuais

### 2015

In [8]:
dataset['CVC'][dataset['Date'] == '2015-01-02'], dataset['CVC'][dataset['Date'] == '2015-12-30']

(0    11.164607
 Name: CVC, dtype: float64,
 244    10.307518
 Name: CVC, dtype: float64)

In [11]:
np.log(10.30 / 11.16) * 100

np.float64(-8.019206171757467)

In [12]:
dataset['MGLU'][dataset['Date'] == '2015-01-02'], dataset['MGLU'][dataset['Date'] == '2015-12-30']

(0    2.058074
 Name: MGLU, dtype: float64,
 244    0.629147
 Name: MGLU, dtype: float64)

In [13]:
np.log(0.62 / 2.05) * 100

np.float64(-119.58755940933166)

### 2016

In [17]:
dataset['CVC'][dataset['Date'] == '2016-01-04'], dataset['CVC'][dataset['Date'] == '2016-12-29']

(245    9.566906
 Name: CVC, dtype: float64,
 493    18.947781
 Name: CVC, dtype: float64)

In [18]:
np.log( 19.94 / 9.56) * 100

np.float64(73.51400374703823)

In [19]:
dataset['MGLU'][dataset['Date'] == '2016-01-04'], dataset['MGLU'][dataset['Date'] == '2016-12-29']

(245    0.639841
 Name: MGLU, dtype: float64,
 493    3.784509
 Name: MGLU, dtype: float64)

In [20]:
np.log( 3.78 / 0.63 ) * 100

np.float64(179.1759469228055)

### 2017

In [24]:
dataset['CVC'][dataset['Date'] == '2017-01-02'], dataset['CVC'][dataset['Date'] == '2017-12-28']

(494    18.404131
 Name: CVC, dtype: float64,
 739    39.227718
 Name: CVC, dtype: float64)

In [25]:
np.log( 39.22 / 18.40 ) * 100

np.float64(75.68361561532603)

In [26]:
dataset['MGLU'][dataset['Date'] == '2017-01-02'], dataset['MGLU'][dataset['Date'] == '2017-12-28']

(494    3.625528
 Name: MGLU, dtype: float64,
 739    23.124508
 Name: MGLU, dtype: float64)

In [27]:
np.log(23.12/3.62) * 100

np.float64(185.4224017966497)

### 2018

In [42]:
dataset['CVC'][dataset['Date'] == '2018-01-02'], dataset['CVC'][dataset['Date'] == '2018-12-28']

(740    40.343891
 Name: CVC, dtype: float64,
 980    49.91671
 Name: CVC, dtype: float64)

In [43]:
np.log( 49.91 / 40.34 ) * 100

np.float64(21.287785095545196)

In [44]:
dataset['MGLU'][dataset['Date'] == '2018-01-02'], dataset['MGLU'][dataset['Date'] == '2018-12-28']

(740    22.859308
 Name: MGLU, dtype: float64,
 980    52.339832
 Name: MGLU, dtype: float64)

In [45]:
np.log(52.33 / 22.85) * 100

np.float64(82.86187030439027)

### 2019

In [47]:
dataset['CVC'][dataset['Date'] == '2019-01-02'], dataset['CVC'][dataset['Date'] == '2019-12-30']

(981    49.851437
 Name: CVC, dtype: float64,
 1215    36.099503
 Name: CVC, dtype: float64)

In [48]:
np.log(38.09 / 49.85) * 100

np.float64(-26.90667159173346)

In [49]:
dataset['MGLU'][dataset['Date'] == '2019-01-02'], dataset['MGLU'][dataset['Date'] == '2019-12-30']

(981    53.938564
 Name: MGLU, dtype: float64,
 1215    111.131203
 Name: MGLU, dtype: float64)

In [50]:
np.log(111.13 / 53.93 ) * 100

np.float64(72.30137778484195)

### 2020

In [51]:
dataset['CVC'][dataset['Date'] == '2020-01-02'], dataset['CVC'][dataset['Date'] == '2020-12-30']

(1216    36.849518
 Name: CVC, dtype: float64,
 1463    18.026854
 Name: CVC, dtype: float64)

In [52]:
np.log(18.02 / 36.84) * 100

np.float64(-71.51019592069143)

In [53]:
dataset['MGLU'][dataset['Date'] == '2020-01-02'], dataset['MGLU'][dataset['Date'] == '2020-12-30']

(1216    115.015053
 Name: MGLU, dtype: float64,
 1463    233.194061
 Name: MGLU, dtype: float64)

In [54]:
np.log(233.19 / 115.01) * 100

np.float64(70.68344908057479)