# Variância

In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
dataset = pd.read_csv('acoes.csv')
dataset

            Date    GOL        CVC        WEG      MGLU      TOTVS        IBOV
0     2015-01-02  14.99  11.164607   4.988705  2.058074  10.155536   47.259998
1     2015-01-05  14.85  11.017703   5.022718  2.096750   9.843493   46.320000
2     2015-01-06  15.21  10.870803   4.948212  2.069124   9.227921   46.580002
3     2015-01-07  14.55  10.775316   4.891521  2.138187   9.162673   48.150002
4     2015-01-08  14.27  10.393366   4.974128  2.121612   9.375432   48.509998
...          ...    ...        ...        ...       ...        ...         ...
2477  2025-01-27   1.71   1.860000  53.310001  7.010000  31.209999  121.870003
2478  2025-01-28   1.71   1.770000  54.090000  6.760000  30.790001  121.029999
2479  2025-01-29   1.69   1.800000  54.430000  6.590000  31.150000  120.169998
2480  2025-01-30   1.70   1.950000  56.209999  7.270000  32.610001  123.949997
2481  2025-01-31   1.70   1.970000  55.040001  7.460000  34.060001  123.000000

[2482 rows x 7 columns]

In [4]:
taxas_cvc = np.array([-11.86, 63.73, 74.52, 20.42, -33.29, -128.06])

In [5]:
media_cvc = taxas_cvc.sum() / len(taxas_cvc)
media_cvc

np.float64(-2.423333333333332)

In [6]:
((taxas_cvc - media_cvc) ** 2).sum() / len(taxas_cvc)

np.float64(4607.455288888889)

In [7]:
media_cvc = taxas_cvc.mean()
media_cvc

np.float64(-2.423333333333332)

In [8]:
variancia_cvc = taxas_cvc.var()
variancia_cvc

np.float64(4607.455288888889)

In [9]:
taxas_mglu = np.array([-135.37, 176.76, 185.78, 82.74, 71.86, 71.87])
variancia_mglu = taxas_mglu.var()
variancia_mglu

np.float64(11160.033122222221)

### Calculando a variância baseada no preço por período

In [10]:
dataset['CVC'].tail(330).var(), dataset['MGLU'].tail(330).var()

(np.float64(0.43134472373142413), np.float64(21.33824753324378))

## Desvio Padrão

In [15]:
desvio_cvc = math.sqrt(variancia_cvc)
desvio_cvc

67.87823869907712

In [16]:
desvio_mglu = math.sqrt(variancia_mglu)
desvio_mglu

105.6410579378218

In [18]:
taxas_cvc.std()

np.float64(67.87823869907712)

In [19]:
taxas_mglu.std()

np.float64(105.6410579378218)

In [21]:
dataset['CVC'].tail(330).std(), dataset['MGLU'].tail(330).std()

(np.float64(0.6567683942847921), np.float64(4.619334100630066))

## Coeficiente de variação

In [22]:
desvio_cvc, media_cvc

(67.87823869907712, np.float64(-2.423333333333332))

In [24]:
coeficiente_variacao_cvc = (desvio_cvc / media_cvc) * 100
coeficiente_variacao_cvc

np.float64(-2801.0277317363334)

In [26]:
stats.variation(taxas_cvc) * 100

np.float64(-2801.0277317363334)

In [ ]:
stats.variation(taxas_mglu) * 100

## Calculos com todas as ações

## Correlação entre as ações

## Risco do portfólio

### Somente duas ações

### Todas as ações