## importação das libs

In [5]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

## Base de dados de uma ação

In [6]:
gol_df = yf.download('GOLL4.SA', start='2015-01-01')
gol_df

[*********************100%***********************]  1 of 1 completed

Price         Close     High      Low     Open    Volume
Ticker     GOLL4.SA GOLL4.SA GOLL4.SA GOLL4.SA  GOLL4.SA
Date
2015-01-02    14.99    15.20    14.61    14.97    901900
2015-01-05    14.85    15.01    14.41    14.90   1272500
2015-01-06    15.21    15.21    14.65    14.75   2183500
2015-01-07    14.55    15.33    14.55    15.15   1846900
2015-01-08    14.27    14.65    14.20    14.41   1569500
...             ...      ...      ...      ...       ...
2025-01-21     1.70     1.70     1.62     1.66   8180200
2025-01-22     1.72     1.74     1.67     1.72  10723000
2025-01-23     1.72     1.78     1.69     1.69  11748200
2025-01-24     1.71     1.76     1.69     1.74   6904100
2025-01-27     1.71     0.00     0.00     0.00         0

[2505 rows x 5 columns]